footer {
    padding: 40px;
    background-color: #222;
    color: #fff;
}

footer ul {
    margin-top: 5px;
    display: flex;
    gap: 50px;
}

footer li {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #fff;
}