@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins Regular", Arial;
}

body {
    display: flex;
    position: relative;
    overflow-x: hidden;
}

.initLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    backdrop-filter: blur(20px);
}

#canvas {
    backdrop-filter: blur();
    border-radius: 50%;
    box-shadow: inset 6px -6px 20px #c5c5c520;
}

main {
    transition: transform 0.3s ease;
}

button {
    cursor: pointer;
}

section {
    position: relative;
    padding: 50px 60px;
    min-width: 375px;
}

.hidden {
    display: none !important;
}

.information_section__description,
.information_section__activities {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 15px;
}

#information_section__activities_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 30px;
}

.card {
    padding: 25px;
    border-radius: 25px;
    box-shadow: 6px 6px 12px #bfbfbf, -6px -6px 12px #eee;
}

.card > p:first-of-type {
    height: 140px;
}

.card p {
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: justify;
}

.information_section__reservation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.information_section__reservation p {
    font-weight: bold;
}

.information_section__reservation button,
.information_section__map__options button,
.information_section__map__options a {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 0.98rem;
    border-radius: 0.5em;
    background: #eee;
    cursor: pointer;
    border: 1px solid #eee;
    transition: all 0.5s ease;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.information_section__reservation button:active,
.information_section__map__options a:active,
.information_section__map__options button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

#information_section__activities_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 30px;
}

.information_section__map {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

#map {
    width: 100%;
    height: 500px;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 0 4px;
}

.maplibregl-cooperative-gesture-screen {
    z-index: 3 !important;
}

.information_section__map__options {
    display: flex;
    justify-content: space-between;
}

.information_section__map__options a {
    text-decoration: none;
}

.information_section__photos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#information_section__photos_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    gap: 30px;
}

.view_photo {
    display: flex;
    flex-direction: column;
}

.view_photo__photo,
.view_photo__author_photo {
    display: flex;
}

.view_photo__photo img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    box-shadow: 0 0 4px;
}

.view_photo__data {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    gap: 1rem;
}

.view_photo__author_photo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 4px;
}
